openapi: 3.0.0
info:
  title: EveryCheck ATS
  description: This API allows integration with Applicant Tracking Systems (ATS) to manage job applications, retrieve study records, and download related documents.
  version: 1.0.0
  contact:
    email: contact@everycheck.fr
components:
  securitySchemes:
    SSOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: Grants read access
  schemas:
    Study:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 6a60093f-87f5-48b6-b82b-3fe308e26f4e
        date:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - created
            - client_sealed
            - applicant_sealed
            - check_finished
            - check_canceled
          description: |
            Enum to represent the status of a job application.
            Possible values:
            - `created`: The application has been received but not yet started.
            - `client_sealed`: The application is started, waiting for applicant filling.
            - `applicant_sealed`: The candidate has filled the forms.
            - `check_finished`: The application's checks has been completed.
            - `check_canceled`: The application's checks has been canceled.
        experiences:
          type: array
          items:
            $ref: '#/components/schemas/Experience'
    Experience:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 6a60093f-87f5-48b6-b82b-3fe308e26f4e
        type:
          type: string
          enum:
            - identity
            - diploma
            - job
        outcome:
          type: string
          enum:
            - check_confirmed
            - check_rejected
            - check_unconfirmed
            - uncheckable
          description: |
            Enum to represent the status of a check.
            Possible values:
            - `check_confirmed`: No discrepancy has been found.
            - `check_rejected`: A major discrepancy has been found.
            - `check_unconfirmed`: A minor discrepancy has been found.
            - `uncheckable`: We're not able to verify this experience.
security:
  - SSOAuth: [read]
servers:
  - url: https://ats.everycheck.com/v1
paths:
  /studies:
    get:
      summary: List studies
      description: Returns a list of studies starting from a specified date (limited to the past 7 days).
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
            example: 2025-02-06
          description: The start date for listing studies (must be within the past 7 days).
        - name: 'pageToken'
          in: query
          description: Token for the next page
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A JSON array of studies
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    studies:
                      type: array
                      items:
                        $ref: '#/components/schemas/Study'
                    next_page_token:
                      type: string
        '400':
          description: Invalid date parameter
        '401':
          description: Unauthorized
  /studies/{uuid}/download:
    get:
      summary: Download study report
      description: Returns a PDF file for the specified study Uuid.
      parameters:
        - in: path
          name: uuid
          required: true
          schema:
            type: string
            format: uuid
            example: 6a60093f-87f5-48b6-b82b-3fe308e26f4e
          description: The uuid of the study to download.
      responses:
        '200':
          description: A PDF file of the study
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Study not found
        '401':
          description: Unauthorized
